version: "3.7"

services: 
  database:
    image: postgres
    container_name: database_rentx
    restart: always
    ports:
      - 9001:5432
    environment: 
      - POSTGRES_USER=docker
      - POSTGRES_PASSWORD=ignite
      - POSTGRES_DB=rentx
    volumes: 
      - pgdata:/data/postgres
    networks:
      - rentx

  app:
    build: .
    container_name: rentx
    ports: 
      - 3333:3333
    volumes: 
      - .:/usr/app
    networks:
      - rentx

volumes: 
  pgdata:
    driver: local

networks:
  rentx:
    name: rentx-network
