<!DOCTYPE html>
<html lang="pt-br">

<head>
  <style>
    .container {
      width: 800px;
      font-family: Arial, Helvetica, sans-serif;
    }

    span {
      margin: 10px 0px;
      display: block;
    }
  </style>
</head>

<body>
  <div class="container">
    <img src="https://i.imgur.com/oUAKMC5.png">

    <span>Oi, {{name}}</span>

    <br />

    <span>Você solicitou alteração de senha.</span>
    <span>
      Para relizar a troca, clique no link
      <a href={{link}}>{{link}}</a>
    </span>

    <span>Caso não tenha sido você que solicitou a alteração da senha, ignore este e-mail.</span>

    <strong>Obrigado!</strong>

    <h3>Equipe | <strong>RentX</strong></h3>
  </div>
</body>

</html>